{% block content %}
 
<table border="1">
    <tr>
    <td>
        TIME
    </td>
    <td>
        LONGITUDE
    </td>
    <td>
        LATITUDE
    </td>
    <td>
        MAGNITUDE
    </td>
    </tr>
    {% for row in tableData %}
    <tr>
        <td>
            {{ row.TIME }}
        </td>
        <td>
            {{ row.LONGITUDE }}
        </td>
        <td>
            {{ row.LATITUDE }}
        </td>
        <td>
            {{ row.DEPTHERROR }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}